header{text-align: center;}

body{background-color: black;
	color: white;}
	
	a{color: rgb(204,204,153);
	text-decoration: none;}


aside { 	float: right; 
        width: 20%;
		background-color: black;
		height:auto;
		color: white;
		}
		
main {	height: auto;
		width: auto;
		
		padding-right: 10px;
		padding-left: 10px;
		padding-top: 10px;
		color:white;
		background-color: black;}
		
main:a{text-decoration: none;
		color: red;}
		
footer{	background-color: black;
		color: white;}
		
footer:a{text-decoration: none;
		color: red;}
/*
Takes away the ugly dotted format for the webpage
*/
li{list-style-type: none;}

#wrapper{
		color: black;
		border: 2px solid #000000;
		background-color: black;
		text-align:center; 
		text-shadow: 3px 3px 3px #666; 
		font-family: Times New Roman;}

h3{background-color: black; 
	color: white;
	text-align: center;}
	
span{color: red;
	display: inline;}
	 
#box { background-color: black;
		color: white;
        border: 3px solid #000000;
		border-color: rgb(204,204,153);
		text-align: center; 
		margin-left: 570px; 
		margin-right: 570px;
		margin-bottom: 300px;}
		
.middlediddle{
		text-align: center; 
		margin-left: 570px; 
		margin-right: 570px;
		margin-bottom: 300px;}


